*
    font-family: 'Arial', sans-serif
a
    text-decoration: none
    color: #000000
    &:hover
        color: #000000
i
    padding-left: 3px
@import "header"
@import "product"
@import "info"
@import "options"
@import "footer"
@import "media"