@import "variables"
*
    font-family: 'Arial', sans-serif
a
    text-decoration: none
    color: $black_color
    &:hover
        color: $black_color
ul
    list-style: none
    padding-left: 0
.general
    position: relative
i
    padding-left: 3px
.hidden
	display: none !important
.active
	border-bottom: 3px solid  $red_color
.body_freeze
    overflow: hidden

@import "mixins"
@import "header"
@import "footer"
@import "product"
@import "info"
@import "options"
@import "media"